[2013-03-24 18:48] ralzakark opened #8 "Design 1 Strutture Dati - Task A4 - Creazione DB TABLE "template_areas"."
"area" ha un campo NOT NULL per "unit_id" con un relativo DELETE CASCADE sulla tabella "unit".

[code]

Un'area deve essere per forza associata alla relativa unit e viene automaticamente cancellata quando la sua unit viene eliminata.
E' necessario quindi creare delle unit di "appoggio" per le aree del template.
In questo caso, il campo al punto 3, potrebbe essere sostituito con "unit_id" (invece c

[2013-03-25 11:57] ralzakark opened #9 "Varie"
DOMANDE:
1. Commissioni: La commissione tecnica può essere richiesta anche in fase di discussione o solo in fase di verifica (io escluderei accettazione e votazione)?

BASE DATI:
2. Tabella member - Campo "codice_fiscale": trasformare da varchar(16) in TEXT e chiamarlo "nid" (national identification number) per internazionalizzarlo? http://en.wikipedia.org/wiki/National_identification_number
3. Ta

[2013-03-25 12:09] EmanueleSabetta commented on #8
Mi sembra più modulare la seconda idea invece. Isolerebbe il template come oggetto indipendente e renderebbe più snelle le aree associate (niente active flags, member count, weight, text search da indicizzare, etc.) che diverrebbero effettivamente solo scheletri base.
Creiamo una table chiamata "template_area" che è come "area" ma con solo i campi "id, name, description".
Gli area_id dovranno esse

[2013-03-25 12:36] ralzakark commented on #8
OK, è sicuramente la soluzione più pulita :+1:

Quindi le tabelle potrebbero essere:
- template (id, name, description) - Contiene i nomi e le descrizioni dei template
- skeleton_area (id, name, description) - Contiene le skeleton delle aree
- skeleton_area_allowed_policy (skeleton_area_id, policy_id, default_policy) - Associa le policy alle aree skeleton
- template_area (template_id, skeleton_are

[2013-03-25 18:09] ralzakark commented on #8
In realtà, a differenza della relazione unit <-> area che è m = m, la relazione template <-> skeleton_area è 1 = m.
Quindi la tabella template_area scompare...
Rinominandole di nuovo abbiamo:
- template (id, name, description) - Contiene i nomi e le descrizioni dei template
- template_area (template_id, name, description) - Contiene le skeleton area
- template_area_allowed_policy (skeleton_area_id

[2013-03-25 23:40] pierangelo opened #10 "Task B1 - Creazione in admin/units di un bottone per copiare le aree da un altra unità e per incollarle da un template."
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-2---UI

[2013-03-26 00:37] pierangelo opened #11 "Task B2 - Creazione di template per la suddivisione in aree delle unità"
Task B2 - Creazione di template per la suddivisione in aree delle unità

https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-2---UI

[2013-03-26 00:38] pierangelo opened #12 "Task B3 - Possibilità di selezionare un template di aree e aggiungerlo ad una unità."
Task B3 - Possibilità di selezionare un template di aree e aggiungerlo ad una unità.
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-2---UI

[2013-03-26 07:37] ralzakark commented on #10
Io ed E. avevamo pensato di creare delle "skeleton area", cioè delle aree con solo alcuni campi. Queste aree verranno poi agganciate alla unit (nella quale il template si incolla) espandendo così i campi.
La restrizione, nell'usare le normali aree, è che queste ultime sono associate ad una unit. Se venissero usate in un template si rischia di vedersele cancellare quando elimini la unit. Inoltre do

[2013-03-26 11:36] EmanueleSabetta commented on #8
Si, anche se sarebbe meglio chiamare le skeleton_area "template_area" o "area_template". La parola "skeleton" introduce una distinzione semantica in realtà inutile. Di fatto la skeleton_area è il template di un'area, giusto?

La relazione unit<->area è 1:1 comunque, se ho capito quello che dici. In ogni entry della tabella area c'è solo un campo unit_id INT4, giusto?
Quella template<->area_templat

[2013-03-26 11:51] ralzakark commented on #8
Giusto, avevo già aggiornato il wiki di conseguenza....

Ho ricontrollato... non è né 1:1 né m:m,  ma 1:m. Il discorso non cambia cmq.. la struttura va bene come avevi scritto al secondo post.

Stessa cosa che avevo pensato anche io....

Già fatto

[2013-03-26 12:12] EmanueleSabetta commented on #9
La commissione tecnica può essere richiesta in fase di discussione e di verifica semplicemente aggiungendosi ai sostenitori della necessità di commissione tecnica. E' possibile richiedere una sola volta una commissione di ogni tipo per ogni fase. Ad esempio: se si richiede una commissione "chimica" nella fase discussione, non si può più richiederla nella stessa fase. Ma nella fase verifica si può

[2013-03-26 12:26] ralzakark commented on #9
Ho già inserito nel branch di test una rsa_public_key, la sopracitata è parallela o sovrascrive quest'ultima?

A ogni issue potrebbero essere associate delle coordinate, cliccando sull'iconcina a forma di mappa si aprirebbe un link (autogenerato a partire dalle coordinate) su gmail con vista satellite... Se ad esempio c'è una issue per costruire una nuova centrale a carbone l'utente può facilmente

[2013-03-26 15:07] bhack opened #15 "liquidfeedback distribuito"
Valutare l'implementazione di una versione distribuita di liquidfeedback.
Nel caso si implementasse il sistema di parlamento elettronico su più server gestiti da diverse entita di fiducia, o indipendenti di terze parti, sarebbe interessante introdurre algortimi come il Paxos (o una delle sue varianti) per garantire il cittadino sia al momento della votazione che nalla fase di conteggio indipendent

[2013-03-26 15:16] EmanueleSabetta commented on #9
Per la key: Si, è la stessa. Lasciane una sola.

Per la mappa: è una buona idea, ma rischiosa per la sicurezza. Più facile inserire nel testo un link a google maps.

[2013-03-26 16:01] ralzakark commented on #11
1) Per implementare al UI, quando viene selezionato un template, i campi Nome e Descrizione dovrebbero essere popolati automaticamente con un partial load. L' ui.field.select (utilizzato in WebMCP) non supporta però l' "onchange" HTML ed il partial loading (o comunque l'AJAX in genere) non è utilizzato in LiquidFeedback. Ogni richiesta equivale ad una pagina caricata. Si può trovare una alternativ

[2013-03-26 18:17] pierangelo commented on #11
1) dove hai visto che non supporta l'evento dom ?   :)
![Schermata del 2013-03-26 19:08:23](https://f.cloud.github.com/assets/497527/304574/4e17df78-9640-11e2-95b1-bbfad8f3e0e2.png)

il problema invece e' che la view andrebbe arricchita a causa della mancanza di una preview delle aree che si stanno per copiare.

e comunque ajax possiamo sempre introdurlo quando vogliamo (nel  prototipo di foglio e

[2013-03-26 18:31] ralzakark commented on #11
1) dicevo per usare ui.field.select, la funzione di webmcp... ottimo cmq :) come la passi alla ui? così capisco pure io :)

[2013-03-26 18:39] EmanueleSabetta commented on #11
Grande Pierangelo... così siamo veramente un team perfetto: dove a uno di noi sfugge qualcosa, arriva subito l'altro a colmare la mancanza. Non ci ferma nessuno.

[2013-03-26 18:46] pierangelo commented on #10
bene bene

[2013-03-26 22:31] pierangelo commented on #11
![Schermata del 2013-03-26 23:33:47](https://f.cloud.github.com/assets/497527/305844/44bb382e-9665-11e2-88c9-60fb8b7367c9.png)

@ralzakark :  l'esempio e' semplice, ma rende l'idea. venerdi a voce  la illustro meglio, perche' con qualche piccolo accorgimento possiamo avere un livello di customizzazione di Liquid davvero notevole,  rispettando l'architettura dalla quale partiamo.

@Emanuele: Daje!

[2013-03-26 22:51] bhack commented on #15
Visto quanto successo durante l'elezione del presidente della repubblica direi di tenere molto in considerazione questo tipo di tematiche distribuite, specialmente su una piattaforma "permanente" ovvero sempre attiva e con un continuo flusso di votazioni e proposte. Spero che qualcuno che e in contatto con lo staff nazionale porti sul tavoli  questo problema che va oltre il concetto di societa di

[2013-03-27 08:42] bhack opened #16 "Valutazioni sul fork"
Lascio questo interessante link, anche se un po datato, su alcune riflessioni da tenere in considerazione mentre si mantiene un fork. Magari poi qualcuno puo chiudere il ticket e spostarlo nel wiki dei progetti se è piu utile collocarlo li.

http://mako.cc/writing/to_fork_or_not_to_fork.html

[2013-03-27 12:40] #9 closed, assigned to EmanueleSabetta

[2013-03-27 12:41] #8 closed, assigned to EmanueleSabetta

[2013-03-27 18:01] ralzakark opened #17 "Design 3 UI Start Page ed Home Page"
Nel riquadro giallo, sotto la scritta BENVENUTO Nome Cognome appare:

Nome Cognome, il tuo ultimo collegamento è stato il 99/99/9999 alle ore 12:12:99 da **Roma, Lazio**

**Domanda:** E' possibile determinare la posizione da dove l'utente si è collegato?

[2013-03-27 19:30] EmanueleSabetta commented on #17
Si, e' una funzione di html5:
http://dev.w3.org/geo/api/spec-source.html

Qui trovi un demo con sorgenti:
http://html5demos.com/geo

[2013-03-27 19:39] #17 closed, assigned to nobody

[2013-03-27 19:46] EmanueleSabetta commented on #17
Se ti servono i dettagli della Api google per ottenere il nome della citta' a partire dalle coordinate:
https://developers.google.com/maps/documentation/javascript/geocoding#ReverseGeocoding

[2013-03-28 11:19] pierangelo commented on #11
propongo questa modifica:  cliccando su "Salva Aree come Template" si apre questo popup

![salva_template_proposta](https://f.cloud.github.com/assets/497527/312953/3b3faca0-9799-11e2-8dc8-a3d07dcc4cad.png)

[2013-03-28 11:48] ralzakark commented on #11
Si potrebbe pure fare... ma perché aprire un popup quando si può aprire un'altra pagina (come per la creazione di unità ed aree) ? Non è un operazione molto frequente, quindi il precaricamento della ui di creazione non credo risparmi tutte queste richieste al server... Se non sbaglio poi, non è molto utilizzata la cosa in Liquid...
cmq non è male :+1:

[2013-03-28 12:19] pierangelo commented on #11
purtroppo la navigazione in liquid non e' stata curata.

la tematica e' di usabilità: la pagina a se stante del "Save Template" non ha senso perche' rappresenta un ramo morto oltre il quale c'e' la pagina di provenienza.
In genere queste situazioni vengono gestite con i popup, perche' vengono percepite come "veloci", inoltre hai la lista che stai per copiare visibile (il popup e' mobile )

p.s: no

[2013-03-28 13:10] EmanueleSabetta commented on #11
I tedeschi hanno optato per un sistema senza popup, forse per rendere il sito mobile friendly (cosa che comunque non è). Comunque la soluzione del popup va benissimo per l'area admin, area che comunque sarà usata solo da poche persone e solo all'installazione. Per l'uso nella parte di liquid pubblica invece ne discuteremo. Per ora sto cercando di rendere tutto semplice anche per un bambino.

[2013-03-28 13:26] pierangelo commented on #11
ok proseguo senza popup.

[2013-03-28 13:37] ralzakark opened #18 "Design 3 UI [Task C1] - Creazione di una pagina addizionale che viene servita come Start Page di Liquid Feedback."
[Task C1]
- Creazione di una pagina addizionale che viene servita come Start Page di Liquid Feedback.

[2013-03-28 23:49] pierangelo commented on #16
:+1:

[2013-03-30 19:54] pierangelo commented on #10
alessandro ma ci sono motivi particolari per non aver reso gli id delle tabelle "template" e "template_area" non autoincrementali?

[2013-03-30 21:55] ralzakark commented on #10
Premesso che i data type sono da rivedere (non sono un esperto), non credo che in un determinato momento ci dovrebbero essere piú di 2 miliardi di aree tra tutti i template disponibili. Se la cosa avviene allora é meglio che il db dia errore piuttosto che continuare ad inserire (magari a causa di un bug). Inoltre penso che si potrebbero anche rivedere alcuni data type usati nelle tabelle base. Vie

[2013-03-30 23:12] EmanueleSabetta commented on #10
Alessandro ti spiego: in una tabella SQL ci deve essere sempre una colonna PRIMARY KEY, e questa e' costituita da un valore che identifica la riga. Nelle tabelle dove si vuole identificare le righe con una successione di numeri, invece di assegnare manualmente il valore, il database sql offre l'opportunita' di generare automaticamente un numero nuovo ogni volta che si aggiunge una riga, senza dove

[2013-03-31 08:16] ralzakark commented on #10
SERIAL4 :+1:

[2013-03-31 10:06] pierangelo commented on #18
ale hai preso tutti e tre i task?

[2013-03-31 11:02] ralzakark commented on #18
Solo la start page (Task C1).

Butto lì un po' di cose per eventuali commenti:

1) La start page l'ho chiamata app/main/index/welcome.lua e sarà chiamata da index al posto di _index_member.lua. Quest'ultima invece dovrebbe essere la homepage effettiva e quindi dovrà essere sostituita dalla pagina creata al Task C2.

2) Abbiamo l'immagine del parlamento (quella che va sopra i bottoni) ?

3) Per qua

[2013-03-31 14:31] EmanueleSabetta commented on #18
1) riguardo la start page e la home page, ok ma rendi tutto configurabile. Dovrebbe essere possibile per l'admin scegliere la normale start page di liquid o quella nostra o un altra ancora di cui si da il path, e poterle cambiare in qualsiasi momento.

2) si te la mando via email.

3) si, ma considera che la geolocalizzazione e' implementata in modo diverso e indipendente da ogni browser, a noi no

[2013-04-02 12:53] pierangelo commented on #17
conviene comunque verificare che il browser lo supporti.

[2013-04-02 15:10] pierangelo opened #22 "Design 3 UI [Task C2] - Una volta scelta l'assemblea a cui si vuole partecipare nella Start Page, premendo il bottone viene servita la pagina dell'utente, con visualizzate 4 OPZIONI"
[Task C2]
- Una volta scelta l'assemblea a cui si vuole partecipare nella Start Page, premendo il bottone viene servita la pagina dell'utente, con visualizzate 4 OPZIONI......

wiki:
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-3-UI-Start-Page-ed-Home-Page

[2013-04-02 15:13] pierangelo commented on #18
ti ho corretto il titolo cosi si vede subito  che task si sta eseguendo :+1:

[2013-04-03 13:27] ralzakark opened #27 "Registrazione dati connessione utente"
Un po' di idee per la registrazione dei dati utente:
## Requisiti:
- Registrazione dei dati degli ultimi N (configurabile) accessi dell'utente (Indirizzo IP, Posizione, Data/ora Login)
- Avvertire l'utente in caso di due distinti login con orari ravvicinati e posizioni incompatibili
- Possibilità per l'utente di salvare (via cookie + record nel db) il browser utilizzato con una label e contestualm

[2013-04-04 16:23] ralzakark commented on #18
Mi faceva notare pierangelo che nella start page c'è sia il messaggio di benvenuto (che presuppone che ho fatto il login), sia la nota ed il link per la registrazione (che presuppone che NON mi sono ancora registrato)...

[2013-04-04 21:28] EmanueleSabetta commented on #18
Ovviamente in caso non si è registrati quella frase NON APPARE.

Inoltre, essendo anche la landing page dell'invito, devono apparire anche le due frasi in rosso che appaiono la prima volta che ci si registra, linkate alla verifica via email.

[2013-04-07 09:45] pierangelo commented on #18
Ale come procede con il layouting?

[2013-04-07 10:36] ralzakark commented on #18
Andrebbero fatti dei CSS decenti, i bottoni e mettere i controlli per IE... Questa è la pagina cmq: https://github.com/ralzakark/ParlamentoElettronicoM5S/blob/task_c1/app/main/index/welcome.lua
Tu in caso riesci ad aggiustarla in tal senso? Magari la puoi scaricare ed integrare con il tuo fork ?
Io ora sto lavorando per la parte backend per la registrazione dei dati di login e coordinate gps.

[2013-04-07 13:23] pierangelo commented on #18
ok. appena finisco con il task C2 prendo in carico il C1.

[2013-04-08 17:36] EmanueleSabetta opened #32 "Utilizzo di JQuery"
Stavo pensando che jQuery appesantisce di molto un sito web e può creare problemi di scalabilità e verifica del codice. Se possiamo dobbiamo evitare di usarlo, limitandoci a mantenere il codice più semplice e pulito possibile, o provare qualche alternativa più snella (tipo jQ.Moby). Alcune funzioni HTML5 per la geolocalization potrebbero essere fornite da piccole librerie come questa:
https://gith

[2013-04-08 18:11] EmanueleSabetta commented on #27
Ottime idee. Sull'abilitazione dei browser però non saprei, è troppo facile da ingannare. Inoltre impedirebbe l'accesso da terminali non previsti dallo stesso utente. Però segnalare al login il browser con cui si è connesso l'ultima volta può aiutare l'utente a rilevare una intrusione a sua insaputa, esattamente come posizione e orario.

[2013-04-08 18:13] EmanueleSabetta commented on #22
A che punto siamo? Ci sono problemi nel realizzarle senza jQuery?
Domani posto sulla wiki il design delle 4 pagine a cui portano i 4 bottoni, cercando sempre di modificare il minimo indispensabile.

[2013-04-08 18:47] pierangelo commented on #22
E' stata committata. Alessandro ha provato a fare il merge sul brach test del repo ma ha avuto problemi. Invece il merge con il suo repo e' andato a buon fine.

[2013-04-08 18:55] pierangelo commented on #22
l'ha provata in locale ed ha postato questo comportamento con Chrome

![11492_10200276117198360_1853828795_n](https://f.cloud.github.com/assets/497527/353311/c6a79e8c-a07d-11e2-88cd-c140ae2921d5.jpg)

[2013-04-08 19:00] pierangelo commented on #32
il vantaggi:
1. il piu' evidente e' il compatibilità cross-browser.
2. Web 2.0 ready, ovvero per noi sarebbe tutto pronto qualora volessimo fare qualcosa di piu' moderno :)

per  me  :+1:

[2013-04-09 06:17] ralzakark commented on #32
quoto pierangelo e aggiungo delle considerazioni:
1. Data l'alta distribuzione, la libreria è sicuramente più stabile e performante di qualsiasi soluzione ad-hoc che possiamo implementare (almeno per ora)
2. Possiamo rimuovere le funzioni inutilizzate per migliorare le performance
3. Possiamo invocare la libreria solo ove necessario
4. Non uso la libreria per la geolocalizzazione ma solo per le ri

[2013-04-09 15:29] EmanueleSabetta commented on #32
Aspetti negativi:
- Non potendo dipendere da terze parti, non potremo usare il caching google di jQuery. Il che significa un grosso impatto sul server.
- Inoltre sempre per la scalabilità l'uso di AJAX va ridotto al minimo a prescindere, se non eliminato del tutto.
- JQuery è lento perché scritto per essere compatibile all'indietro con moltissime versioni e piattaforme. Lo stesso codice di una ope

[2013-04-09 17:01] ralzakark commented on #32
1. Non ho capito bene. Non dipendere da terze parti è un requisito? Per la geolocalizzazione comunque dovremmo farlo.
2. Vero. In ogni caso l'ajax (vs il server liquid) è utilizzato per ora solo al login. E' un singolo RPC per postare le coordinate ad una action che stora su db (quindi necessaria, se non vogliamo farlo in due fasi con una GET). Nel task C3 si potrebbe usare l'AJAX al posto dell' u

[2013-04-09 18:55] EmanueleSabetta commented on #32
Per la geolocalizzazione non dovremo appoggiarci a server terzi, perché è il browser dell'utente che fornisce le coordinate. Solo per la ricerca del nome città corrispondente serve consultare un server terzo, ma questo lo si fa client-side ad ogni visualizzazione, il dato memorizzato è solo la coordinata geografica fornita dal browser.
Come il browser ottiene i dati di localizzazione non è importa

[2013-04-10 14:50] ralzakark commented on #18
C'è ancora qualcosa che non mi è chiaro riguardo la pagina.

La start page è la PRIMA pagina visualizzata ? Sostituisce cioè la pagina index ? Se si, non dovrebbe anche avere le text box per il login ?

Mi spiego meglio: Nella situazione standard, liquid mostra una pagina di index (app/main/index/index.lua). Questa pagina, a seconda che l'utente abbia o meno fatto il login mostra cose differenti.

[2013-04-10 14:58] EmanueleSabetta commented on #18
Mi sembra una buona idea, io infatti davo per scontato che se anonimo al div "Benvenuto Tizio Caio" si sostituisse il div di liquid con il login form, e non l'ho indicato specificatamente nel design.

[2013-04-11 06:42] pierangelo commented on #32
Concedetemi di dare un'occhiata a jQMobi.

[2013-04-11 06:51] pierangelo commented on #18
ok Ale, dovresti creare anche la pagina per consentire all'admin di salvare lo stato gui_preset

[2013-04-12 08:56] ralzakark opened #41 "TASK F1, F2, F3: Design 6 UI SCELTA AREE"
### Pagina di Scelta Area Tematica:

Mi sembra di capire che le pagine a livello 3, per scelta delle aree tematiche (area) per la  lettura e votazione delle proposte (initiative) sono 4:
1. Task F1  - Assemblea Pubblica Regione Lazio: Proposte dei CITTADINI
2. Task F2a - Assemblea Pubblica Regione Lazio: Proposte degli ELETTI
3. Task F2b - Assemblea Pubblica Regione Lazio: ALTRI GRUPPI POLITICI
4.

[2013-04-12 12:27] EmanueleSabetta commented on #41
Chiaramente si, basta un solo script LUA per generarle tutte. Basta modularizzare con una funzione che si occupa di generare le liste. Il parametro è dato da chi ha aperto la ISSUE (non da chi propone le iniziative alternative, quelle le possono proporre anche i cittadini o gli eletti, o persino gli stessi gruppi politici).

Sarà più chiaro quando posterò la wiki della pagina "crea proposta", ma i

[2013-04-13 08:07] pierangelo commented on #18
attualmente al file config.lua va aggiunto questo oggetto:

config.gui_preset = {
  {
    name="M5S",
    start_page="_welcome"
  },
  {
    name="Maintenance",
    start_page="_maintenance"
  },
  {
    name="default",
    start_page="_index_default"
  }
}

[2013-04-13 08:29] pierangelo commented on #41
Ale, quali e quanti task hai preso? :)

[2013-04-13 08:42] ralzakark commented on #41
F1, F2, F3.

[2013-04-13 10:25] pierangelo commented on #41
dopo che avevo preso c1,c2,c3 in una sola volta, avevamo detto non piu' di uno a testa :)

e per quanto riguarda il nome della Issue qui nella wiki?  :)

[2013-04-13 10:49] pierangelo commented on #41
:+1:

[2013-04-13 11:52] ralzakark commented on #41
Pensavo di fare una sola view per tutte e quattro le pagine. All'interno poi metto la logica per quali aree mostrare.
Devo pensare meglio a come selezionare le unit una volta arrivati al livello 3. Ad esempio, se pensiamo che le unit sono diverse a seconda dell'assemblea (cittadini, eletti, iscritti, o degli altri gruppi parlamentari) a questo livello dovremmo già avere la selezione delle unit da

[2013-04-13 12:04] ralzakark commented on #41
...richiederebbe una ulteriore separazione degli alberi delle unit. Richiede più tempo in fase di configurazione (magari creando un altro template copy/paste per le unit) ma non dovremmo quasi toccare la logica interna di liquid potendo sfruttare la tabella privilege:

[code]

[2013-04-13 15:01] EmanueleSabetta commented on #41
La terminologia è un poco confusa. Se ho capito quello che intendi le prime tre sarebbero:

Per ogni macro-unità (Es. Regione Lazio o comune Roma o Municipio VI):
Eletti -> Proposte Pubbliche degli Eletti M5S o Altri Gruppi Politici (proposte "dall'alto")
Cittadini -> Proposte Pubbliche dei Cittadini (proposte "dal basso")
Iscritti -> Proposte Interne Iscritti M5S

Ma la quarta? Non ho capito cosa

[2013-04-13 15:05] ralzakark commented on #41
Errore mio.. correggo

[2013-04-13 17:27] ralzakark commented on #41
Sempre ragionando a voce alta su questa ipotesi di divisione delle unit...
Se gli utenti possono sempre aprire proposte alternative (anche nell unit tree degli eletti, etc) allora il boolean "initiative_right" non basta più (pensavo che potevamo usare questo flag per determinare se un utente può creare una issue o meno). In tal caso potremmo aggiungere un ulteriore boolean ("issue_right") per riso

[2013-04-13 17:56] ralzakark commented on #41
Al livello 1 controlliamo se l'utente vuole entrare nella unit degli iscritti o meno (bottone "ASSEMBLEA INTERNA MOVIMENTO 5 STELLE LAZIO").
Al livello 2, se abbiamo scelto ASSEMBLEA REGIONE LAZIO, raffiniamo ulteriormente il selector delle unit scegliendo, a seconda del bottone premuto, l'albero giusto. (Nota: il livello 2 dell'ASSEMBLEA INTERNA in questo caso sarebbe ridondante per la selezione

[2013-04-13 18:16] pierangelo opened #42 "Design 3 UI [Task C3] - Se si preme il bottone FILTRI, un'area si apre tra il il menu opzioni e la lista proposte, e compare un menu con tre tipi di filtri"
assegnato

[2013-04-15 09:19] ralzakark commented on #41
Pagina caricata su repo test.
La via di ricevere uno unit_selector non sembra praticabile.
La pagina prevede per ora che vengano passati o una "unit_id"  o un "areas_selector" pre-filtrato con le unit scelte ai livelli precedenti.

[2013-04-17 13:36] ralzakark opened #48 "Task G1-4: Design 7 UI OPERAZIONI NELLE AREE"
Assegnato

[2013-04-17 14:43] ralzakark commented on #48
Pullata... è possibile testare la pagina puntando all'url: /lf/area/filter/ **n** .html dove "n" è l'id dell'area.

[2013-04-17 14:56] ralzakark opened #50 "Design 5 Albero Pagine"
# Routing pagine:

Prima bozza routing pagine.

**Start Page - Livello 1**
- module = index
- view = _welcome

**Homepage - Livello 2**
- module = index
- view = homepage

**Scelta Aree - Livello 3**
- module = unit
- view = show_ext
- id = unit_id
- params = { filter_areas = "my_areas" } (opzionale)

**Operazioni nelle Aree - Livello 4**
- module = area
- view = filter
- id = area_id
- params = n

[2013-04-17 17:54] pierangelo commented on #42
Ema mi occorrono chiarimenti sulla terza serie di filtri, quelli inerenti le unità: se stiamo lavorando sul "nascondere" il concetto di unità, per come la vedo io, la serie in questione non ha senso

[2013-04-17 21:33] pierangelo commented on #42
inoltre anche alcuni filtri della seconda serie non sono chiari:   nella home io ho "i miei voti" e "le mie proposte".
ad esse che senso ha applicare un filtro "Potenzialmente Sostenute" ?

[2013-04-17 23:04] EmanueleSabetta commented on #42
Infatti non si applica. Come ti dicevo alla riunione questa palette di filtri e' quella di base, ma poi a seconda della pagina devi visualizzare solo i filtri che hanno senso nel contesto.
Ad esempio il box "le mie proposte" visualizza le "Issue" create dall'utente o le Issue non create dall'utente ma in cui l'utente ha aggiunto una Initiative (proposta alternativa) sua. Ma non visualizza quelle s

[2013-04-18 01:00] pierangelo commented on #42
:+1:

[2013-04-18 08:03] ralzakark commented on #42
Che dite, si potrebbe lasciare visibile il bottone "APPLICA FILTRI" per collassare il menu? (Magari diventa "CHIUDI FILTRI"...)

[2013-04-18 08:28] EmanueleSabetta commented on #42
Si, perfetto. Da APPLICA FILTRI potrebbe cambiare in ELIMINA FILTRI (così da far capire che non viene solo chiuso il riquadro ma vengono rimossi anche i filtri applicati e la pagina torna a visualizzare tutto senza filtri).

[2013-04-18 09:48] EmanueleSabetta commented on #42
Ho uppato la tabella dei filtri:
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-9-UI-Tabella-FILTRI

[2013-04-18 11:12] EmanueleSabetta commented on #50
Una nota: ho rinominato anche nella wiki il Livello 4 da "Operazioni nelle Aree" a "Scelta delle Categorie di Proposte", che è meno ambiguo. Allineiamoci con la terminologia.

[2013-04-18 16:03] ralzakark opened #55 "Design 9 UI Tabella FILTRI"
Per "Categoria 2: Proposte in Attualmente in Discussione" intendi le proposte che non sono chiuse o cancellate e non letteralmente le proposte in fase "discussion" , giusto? Altrimenti i filtri a livello 5 (Discussione, Congelato, Votazione e Commissione) non avrebbero senso...

[2013-04-18 17:13] EmanueleSabetta commented on #55
Si, l'avevo scritto nella wiki:
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-8-UI-LISTA-PROPOSTE-SCELTE

Task H2 - Servire la pagina con la lista delle proposte ASSEMBLEA PUBBLICA LAZIO, PROPOSTE DEI CITTADINI nella **fase IN DISCUSSIONE (che include: in discussione, in votazione, in congelamento, in commissione e in voto su rapporto commissione).**

Riassumendo vi

[2013-04-18 17:29] ralzakark commented on #55
Non riusciamo magari ad evitare di ripetere il termine? Potrebbe creare confusione la cosa.
Per la Categoria 2 si potrebbe usare "IN ESAME" al posto di "IN DISCUSSIONE" ad esempio...

[2013-04-18 17:40] EmanueleSabetta commented on #55
Si, sarebbe una buona idea. Ma escluderei "IN ESAME" perché fa pensare all'esame delle commissioni o comunque ad un test di qualcosa di già definito. Invece deve esprimere anche la fase dialettica e propositiva. Fammi pensare...

[2013-04-18 17:52] EmanueleSabetta commented on #55
IN SVOLGIMENTO
IN SVILUPPO
IN PROCEDIMENTO
IN CORSO
... direi "IN SVOLGIMENTO" suona meglio.

[2013-04-18 18:04] EmanueleSabetta commented on #55
Ho aggiornato le wiki con "IN SVOLGIMENTO". L'unica cosa che non ho modificato è il testo del bottone del Livello 4, dove ho lasciato "IN DISCUSSIONE", ma in seguito se crea confusione lo modifichiamo.

[2013-04-18 18:08] EmanueleSabetta commented on #55
Inoltre considera che la mappatura a livello semantico per l'utente sarà comunque cambiata secondo lo schema visto in Design UI4: https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-4-UI-Box-Proposte

Le fasi sono così mappate:
originale -> nuova
1 - Nuova -> RICERCA SOSTENITORI
2 - Discussione -> EMENDAMENTI
3 - Verifica (congelamento) -> CONGELATA
4 - Votazione -> VOTAZ

[2013-04-18 20:56] ralzakark commented on #55
:+1:

[2013-04-19 08:59] ralzakark opened #56 "Task H1-10 - Design 8 UI LISTA PROPOSTE SCELTE"
Assegnato

[2013-04-19 11:30] pierangelo commented on #42
:+1:

[2013-04-20 11:25] ralzakark commented on #55
@Pierangelo:

La mia idea era questa. Potresti muovere i filtri sotto issue/_filters_ext.lua ed io poi li carico a livello 5 con:

[code]

più o meno come avviene in LQ standard.
Se for_area == true allora mostri solo i filtri di livello 5 ed invece di richiamare la homepage chiami la mia pagina (area/show_ext per ora).

I valori per i filtri di stato ho messo questo:

[code]

[2013-04-20 14:20] pierangelo commented on #55
1) la tua idea va bene ed e' conforme alla struttura dei tedeschi ma nella nostra  homepage abbiamo due liste di issues, situazione del tutto nuova in LQ.
il mio approccio astrae dalla presenza di n liste nella pagina:  la view dei filtri comunica solo l'intenzione di effettuare un'operazione e poi chi e' interessato la effettua.
E' un approccio orientato agli eventi, che consente un forte disacco

[2013-04-20 15:32] ralzakark commented on #55
1) Esatto, a me serve di sapere solo quale pulsante è stato premuto. La logica deve stare nella pagina chiamante della pagina filter. Quella della variabile "state" vorrebbe essere proprio un primo approccio a questo tipo di discorso. Ad. esempio dal livello 4 chiamo il livello 5 passando come parametro state = "new", "development" o "closed" corrispondenti ai 3 pulsanti "PR. IN CERCA DI SOSTENITO

[2013-04-20 15:46] ralzakark commented on #55
Per quanto riguarda la logica ad eventi non ho capito bene cosa intendi... se i filtri devono essere intelligenti allora devono considerare tutti i vari stati/ordinamenti/filtri in modo da mostrare solo i pulsanti attinenti. Per questo la sezione filtri dovrebbe comunque avere la logica di una macchina a stati. Se ci affidiamo a logiche associate alle gui, quali livelli/categorie etc si rischia di

[2013-04-20 15:51] ralzakark commented on #55
|Attualmente credo sia molto dispendioso cercare di forzare il componente filters a gestire piu' liste contemporaneamente.

Se intendi i vari ui.tab e ui.filters non contavo di usarli. Sui pulsanti metto dei semplici ui.link con il collegamento alla pagina stessa e passo nuovamente tutti i parametri che mi sono arrivati dalla GET.

[2013-04-21 10:24] pierangelo opened #67 "Design 7 UI [Task G1] - SERVIRE PAGINA CON BOTTONI OPZIONI Assemblea Pubblica Lazio, Proposte dei CITTADINI"

[2013-04-21 10:33] pierangelo commented on #67
gia' sviluppata.

[2013-04-21 10:33] #67 closed, assigned to pierangelo

[2013-04-22 09:07] pierangelo commented on #55
Se ci affidiamo a logiche associate alle gui, quali livelli/categorie etc si rischia di generare confusione perché ci stiamo allontanando dalla "base dati"...e' proprio l'obiettivo del decoupling.

Comunque stiamo parlando della logica all'interno dell'architettura MVC che stiamo usando in Lq, non della logica di un componente intelligente. (inoltre c'e' differenza tra una View ed un Componente)
P

[2013-04-22 10:45] ralzakark commented on #27
Implementata registrazione coordinate.
Vedi Design 1, Task A8: https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-1---Strutture-Dati

[2013-04-22 10:45] #27 closed, assigned to nobody

[2013-04-23 08:42] pierangelo opened #70 "Design 10 UI [Task M1 to M12- Wizard Step 1 to Step 12]"

[2013-04-23 18:01] EmanueleSabetta commented on #15
Se hai studiato il documento di design del nostro progetto saprai che la sua sicurezza è basata sul una rete di mirror liberi e indipendenti contro cui è possibile in qualsiasi momento verificare il db e individuare modifiche ai voti o altro, ripristinando immediatamente il valore corretto. L'algoritmo Paxos (ma forse non il Multipaxos) potrebbe essere una soluzione per risolvere il caso in cui i

[2013-04-24 07:53] bhack commented on #15
Mi fa piacere che avete posto attenzione al problema. Oltre al consenso tra mirror eventualmente non compromessi io comunque pensavo a qualcosa che potesse coinvolgere anche gli utenti client side. Non so quanto sia fattibile la cosa in effetti.
Magari questa implementazione basata sulle websocket puó essere di spunto:
https://github.com/itay/paxos

Sarebbe bello poter coinvolgere il browser di og

[2013-04-26 07:51] ralzakark opened #75 "Task A9-10 - Strutture Dati"
### Questa è la struttura dati richiesta da design:

**Task A9** - DB TABLE "issue"
1.  Campo da aggiungere: "issue_full_title" (TITOLO QUESTIONE)
    Datatype: text
2.  Campo da aggiungere: "issue_brief_description" (DESCRIZIONE QUESTIONE )
    Datatype: text
3.  Campo da aggiungere: "issue_keywords" (PAROLE CHIAVE QUESTIONE )
    Datatype: text
4.  Campo da aggiungere: "issue_problem_description

[2013-04-26 10:38] EmanueleSabetta commented on #75
- il campo area di competenza e' solo un consiglio, non e' vincolante (mi pareva di averlo scritto)
- le aree di competenza sono da definire tramite un nuovo pannello admin che devo ancora postare nella wiki, e sono composte da un nome e un numero variabile di materie scientifiche associate ( che franno da filtro per la creazione della mailing list della commissione, come sara' chiaro appena poste

[2013-04-28 05:35] ralzakark opened #84 "Task D1 - Design 4 UI Box Proposte"
Assegnato

[2013-04-28 06:47] ralzakark commented on #84
Ho un problemino con l'immagine "congelamento.svg".. occupa quasi un megabyte ed il browser non me la mostra.
Edit: Ho provato a ridurre il bitmap dentro l'svg con inkscape (1MB -> 71kb) ma il comportamento è lo stesso: quando provo a caricare la pagina l'svg non si vede, se punto il browser direttamente all'url statica dell'immagine (/lf/static/svg/verification.svg) il browser la cacha e poi me l

[2013-05-08 09:48] ralzakark opened #97 "Task N1 - Design 11 UI Aggiunta Bottoni a Scelta Aree"
Nota: Aggiungo il bottone AREA # anche al wizard di creazione delle nuove proposte.

[2013-05-08 10:41] ralzakark opened #99 "Design 4 UI Box Proposte"
L'overflow a scroll per le proposte potrebbe essere problematico per schermi touch di piccole dimensioni. Possiamo trovare un'alternativa ?
Es. Mostrare solo N proposte e aggiungere una dicitura "Altre 123 proposte non visualizzate. Clicca su VEDI DETTAGLI per visualizzarle tutte"

[2013-05-08 12:26] EmanueleSabetta commented on #99
Che intendi? Ti riferisci alla dimensione della barra di scorrimento? Sui dispositivi touch non si usa, ma si trascina il contenuto.
Per esempio qui su iPhone con il dito scorro il testo trascinandolo direttamente, senza vedere la barra:
http://webdesign.about.com/od/examples/l/bl-overflow-x-and-overflow-y-examples.htm#y-scroll
O forse ti riferisci ad un problema con i div interni? Vi sono libreri

[2013-05-08 12:34] ralzakark commented on #99
Quando si fa lo scroll delle issue via touch screen, se tocchi il contenuto del div interno (quello con l'elenco delle proposte) ti scrolla queste ultime invece che le proposte. Bisogna quindi andare a toccare la parte esterna al div.
Personalmente è una cosa che trovo abbastanza fastidiosa su alcuni siti. Mentre scrollo ad un certo punto si blocca e comincia a scrollare il sub div... ora sinceram

[2013-05-08 12:45] EmanueleSabetta commented on #99
Si è vero, ma di solito si usano due modi per risolvere la cosa:
1) lasciare un bordo sufficientemente grande a destra e sinistra della scrollbox. Diciamo grande come un polpastrello.
2) fare in modo che la scrollbox abbia una height sempre minore della height della finestra del browser, in modo da avere sempre almeno un dito di spazio sopra o sotto, qualunque sia la posizione della scrollbox.

[2013-05-08 12:49] EmanueleSabetta commented on #99
Comunque valuta tu l'implementazione, poi la proviamo insieme. Per il 14 qualunque cosa va bene, basta che funzoni. Dai comunque un occhiata al demo pull-to-refresh di iScroll4: http://cubiq.org/dropbox/iscroll4/examples/pull-to-refresh/
Prova a metterlo in un riquadro che si dimensiona verticalmente per essere più piccolo in height della finestra web.

[2013-05-08 12:52] ralzakark commented on #99
Il problema si presenta soprattutto quando faccio lo zoom (ad esempio per leggere meglio i titoli delle proposte)... non vedrò più i bordi (almeno quello di dx) e il div delle proposte mi occuperà tutto lo schermo.
Se trovo una issue con molte proposte devo fare zoom out, scrollare il main div e rifare zoom in... diventa fastidioso.

[2013-05-08 12:54] EmanueleSabetta commented on #99
Vero, ma:
1) I titoli delle proposte devono essere comunque in un font grande di default, quindi devono essere leggibili senza ricorrere al pinch-to-zoom
2) se usiamo iScroll4 possiamo superare il problema usando la funzione di zoom interna alla scrollbox, come in questo demo: http://cubiq.org/dropbox/iscroll4/examples/zoom/

[2013-05-08 12:55] ralzakark commented on #99
ok

[2013-05-08 12:55] #99 closed, assigned to EmanueleSabetta

[2013-05-27 11:50] EmanueleSabetta opened #122 "Componente CSS 1 - Bottone"
Discutete qui della classe CSS del bottone, e del relativo codice javascript.

Alla fine deve uscire un componente unico e customizzabile, utilizzabile da LUA senza doversi preoccupare delle meccaniche interne.

![schermata 2013-05-27 alle 13 41 25](https://f.cloud.github.com/assets/3833084/567854/dff68328-c6c3-11e2-9053-bdb76196bf3c.png)

[2013-06-26 22:27] ralzakark opened #164 "TASK AC001 - Allineamento verticale di un elemento in un div"
Creazione di un set di classi CSS per div per allienare verticalmente un elemento. Il parent del set può avere un'altezza variabile.

Qui trovate un'interessante thread sulla questione: http://stackoverflow.com/questions/79461/vertical-alignment-of-elements-in-a-div

[2013-06-26 22:28] ralzakark opened #165 "TASK AC002 - Scaling 2D della barra delle fasi"
Creazione di uno script per scalare (attraverso l'attributo "transform: scale" di CSS3) la phasesbar nelle due view: area/show_ext_bs e issue/show_ext_bs. La phasesbar deve occupare tutto lo spazio disponibile tra la info_box (riquadro nero) ed il bordo della box issue.
L'altezza della barra e tutto il contenuto (icone e relative posizione delle stesse) deve scalare proporzionalmente.

[2013-06-26 22:29] ralzakark opened #166 "TASK AC003 - Salvataggio delle keywork di ricerca issue"
Effettuare uno studio su come memorizzare le parole chiave per la questione e su come effettuare una ricerca in base a queste ultime. Una possibile via è l'utilizzo del tipo di dato postgres "tsvector": http://www.postgresql.org/docs/8.3/static/datatype-textsearch.html. La metodologia per la memorizzazione e per la ricerca va poi implementata nelle rispettive pagine issue: di creazione (wizard/fas

[2013-06-26 22:31] ralzakark opened #167 "TASK AC004 - Social Plugins"
Effettuare un debug dei social plugin per farli funzionare correttamente.
Attualmente le finestre si chiudono immediatamente.

[2013-06-26 22:35] ralzakark opened #168 "TASK AC005 - ui.bargraph con "Animated Progress Bar" di Bootstrap"
Applicare la "Animated Progress Bar" di Bootstrap alla ui.bargraph di boostrap. Il componente si chiamerà ui.bargraph_bs. Al momento il componente è sostituito con una barra provvosioria che non effettua i calcoli matematici percentuali corretti che effettua la ui.bargraph.

[2013-06-26 22:38] ralzakark opened #169 "TASK AC006 - Linea del quorum"
Creazione di una view con la linea del quorum. Questa deve poter essere richiamata nella view di listing delle iniziative e sovrapposta ad essa.
E' possibile vedere il risultato atteso nella pagina di design a questo link: https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-12-UI-Dettagli-Questione   (è la brra verticale blu).

[2013-06-27 14:21] ralzakark opened #172 "TASK AC007 - Implementazione tooltip tasto SELEZIONA nella pagina dettagli issue"
Da implementare il check del sistema operativo ed effettuare la visualizzazione di un tooltip (con le appropiate classi boostrap) che aiuti l'utente ad effettuare la copia del testo selezionato.

Es. CTRL + C per windows o Mela/Cmd + C per il Mac

[2013-06-27 22:17] ralzakark commented on #168
Progress bar ok.. manca la possibilità di allineare il testo dei voti (es. 4 /5 / 230 ) all'interno della barra.

[2013-06-27 22:23] ralzakark opened #176 "TASK AC008 - Box voto e fase per le issue"
Mancano le box voto e fase per le issue come riportato in questo design: https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/wiki/Design-3-UI-Start-Page-ed-Home-Page

Il CSS di questi box, come anche quello del box voto nella view dettagli vanno migrati a boostrap.

[2013-06-27 22:26] ralzakark opened #177 "TASK AC009 - Cambio colore per il bottone rosso (keyword)"
Va rifatto con sfumatura da rosso chiaro a rosso pieno.
Si trova nella view dettagli questione.

[2013-06-29 07:37] ralzakark opened #183 "TASK AC010 - Ordinamento delle proposte"
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/blob/test/app/main/initiative/_list_ext_bs.lua

Manca l'ordinamento per numero sostenitori e per data dell'ultimo evento.
La pagina deve prendere in ingresso un parametro (init_ord) che determina l'ordinamento delle proposte in output.

L'ordinamento va implementato sia quando la view prende in ingresso una tabella issue (come avvie

[2013-06-29 07:45] ralzakark opened #184 "TASK AC011 - Box posizionamento della homepage"
Manca:
- Messaggi di errore in caso di dati mancanti (attualmente se non ci sono dati di posizionamento la box non viene renderizzata)
- Refactoring del javascript di posizionamento ( https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/blob/test/static/js/position.js ).
- I dati di posizionamento per il login corrente vanno visualizzati nella prima box (oltre a essere salvati sul dat

[2013-06-29 13:19] pierangelo opened #186 "Design 10 UI [Wizard Step 1 to Step 12] - Barra di Avanzamento"
che ne pensate di far visualizzare il passo rispetto al persorso intero?

[2013-06-29 14:45] EmanueleSabetta commented on #186
Una barra degli step sarebbe eccellente, se riesci a farla. Mi ero posto il problema, ma ovviamente il problema è la grandezza dei caratteri per renderle comprensibili (non basterebbe usare solo il numero, non è sufficientemente espressivo per il nostro target).

Qui ci sono alcuni esempi di barre:
http://www.smashingmagazine.com/2010/01/15/progress-trackers-in-web-design-examples-and-best-design-

[2013-06-29 15:49] EmanueleSabetta opened #187 "Modifica al design della sezione filtri"
Per i filtri invece è troppo caotico lasciarli così.

Ho deciso di standardizzare le barre sia dei bottoni di ORDINAMENTO che quelli dei FILTRI. Li rifacciamo con gli angoli quadrati e tutti attaccati, come li aveva fatti Panella, con la differenza che agli estremi DX e SX il primo e l'ultimo bottone hanno rispettivamente gli spigoli DX e SX curvi come i bottoni.
In questo modo mantengono la loro

[2013-06-29 15:55] pierangelo commented on #186
e si, dobbiam valutare un po' di cose.....intanto potrei sostituire il testo  "FASE 1" con  "FASE 1 di 12"
"FASE 2 di 12" ...

[2013-06-29 15:55] EmanueleSabetta commented on #186
Questa è una barra sufficientemente esplicativa, con testo che spiega ogni step:

![misc_step_wizard](https://f.cloud.github.com/assets/3833084/726131/2f5fde26-e0d4-11e2-8ff8-df9735edb9a8.png)

ma già qui con soli 5 step la grandezza dei caratteri è sotto i nostri standard minimi, che sono molto grandi per consentire la lettura agli anziani.

Figuriamoci la nostra che ne ha 11 di step. Saremmo cos

[2013-06-29 16:10] EmanueleSabetta opened #188 "Wizard automatic tags buttonification"
Per i campi di input delle keyword e dei tag come ad esempio nel wizard ci serve materializzare le keywords (mentre si scrivono devono diventare 3D come quelle che si vedono nella pagina problema nel design wiki numero 12, solo con un cerchietto X in piu' per cancellarle).

Qui ci sono due esempi di come fare:

http://xoxco.com/projects/code/tagsinput/
http://xoxco.com/projects/code/tagsinput/exam

[2013-06-30 11:42] panseo commented on #187
Bisogna cambiare delle clessi sul codice, ed ho aggiunto in fondo al m5s.css i btn-small-dx btn-small-sx e buton-small-extras

http://www.nono5stelle.it/lf/filtri.html

[2013-06-30 16:22] EmanueleSabetta commented on #187
Primo bug report: Ottimo, ora sono ok. Unici bug i seguenti:

![bug report del 2013-06-30 alle 18 13 35](https://f.cloud.github.com/assets/3833084/727535/2c63dc86-e1a1-11e2-96dd-4af587537f2a.png)

[2013-06-30 17:30] panseo commented on #187
Il bottone in stato premuto:  l' altezza del bottone inattivo è determinata dallo spessore che crea l' effetto 3D, che sul pilsante premuto non c'è, quindi non credo sia possibile cosi al volo........
In realta il pulsante premuto e alto come i pulsanti inattivi.

[2013-06-30 18:28] EmanueleSabetta commented on #187
Ok. Infatti la cosa corretta da fare quando lo si preme sarebbe spostare il pulsante verso il basso di alcuni pixel.

[2013-06-30 19:45] ralzakark commented on #187
Scusate, leggo solo ora...
In boostrap esiste il button grouphttp://twitter.github.io/bootstrap/components.html#buttonGroups che fa già questa cosa (bordi tondi ai margini del gruppo).
Inoltre i bottoni non li possiamo staticizzare così, devono essere messi in riga automaticamente in base alla lunghezza delle lettere che ne compongono il testo (ricordo che deve essere multilungua).
Altro piccolo c

[2013-06-30 20:19] panseo commented on #187
Hai ragione bootstrap lo fa, in questo modo dovrebbe scalare anche il margine tondo insieme al bottone....................no non scala,  quindi o li mettiamo,in due righe, oppure si  fà come dice ale, uno script contaparole,

[2013-06-30 22:15] #41 closed, assigned to ralzakark

[2013-06-30 22:18] ralzakark commented on #84
Va inserito il nuovo svg senza la freccia e con i nuovi colori.

[2013-06-30 22:20] #32 closed, assigned to nobody

[2013-06-30 22:21] #18 closed, assigned to pierangelo

[2013-06-30 22:21] #22 closed, assigned to pierangelo

[2013-06-30 22:22] #42 closed, assigned to pierangelo

[2013-06-30 22:23] #50 closed, assigned to nobody

[2013-06-30 22:24] #55 closed, assigned to pierangelo

[2013-06-30 22:25] #48 closed, assigned to ralzakark

[2013-06-30 22:25] #97 closed, assigned to ralzakark

[2013-06-30 22:31] ralzakark commented on #75
Link alla discussione sull'implementazione delle keyword:
https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/issues/166

[2013-07-01 08:51] EmanueleSabetta commented on #166
L'esempio migliore e' l'uso che fa Instagram di Postgre per gestire i tag:
http://instagram-engineering.tumblr.com/post/40781627982/handling-growth-with-postgres-5-tips-from-instagram

[2013-07-01 14:25] ralzakark commented on #165
Ho provato questa cosa qui e sembra che funziona... ora però bisogna posizionarla correttamente :/

[code]

[2013-07-01 14:44] #177 closed, assigned to panseo

[2013-07-01 18:25] ralzakark commented on #167
Inoltre i plugin, non essendo asincroni, generano un forte rallentamento nel caricamento della pagina.

[2013-07-01 18:49] ralzakark commented on #122
Per il fit automatico dei testi all'interno del tag anchor è necessario trovare un'alternativa allo script jquery.fittext.js.
Servirebbe uno script che funzioni automaticamente (senza cioè specificare ratio di compressione, min e max fontsize) semplicemente aggiungendo una classe all'elemento heading.
Fatto questo si può passare a creare una funzione in env/ui/ che generi automaticamente il pulsan

[2013-07-02 16:24] ralzakark opened #200 "TASK AC012 - Problema bottoni"
Sembra che se si perde il focus sul bottone durante il click il link non viene caricato.
Si potrebbe provare ad intercettare l'evento click sull'elemento con jQuery così:

[code]

[2013-07-02 16:56] ralzakark commented on #200
Ho testato questa funzione:

[code]

Quando si perde il focus il click non viene proprio intercettato...

[2013-07-02 17:56] pierangelo commented on #200
ho potuto constatare che i click vengono tralasciati quando stai cliccando nei pressi del bordo dei div che contengono l'heading ( quelli denominati fittext)

![schermata del 2013-07-02 19 54 22](https://f.cloud.github.com/assets/497527/738166/93227b4e-e340-11e2-83e8-1cdf4daa020f.png)

se rimuovo quel div i click vengono sempre intercettati

[2013-07-03 13:26] #187 closed, assigned to panseo

[2013-07-04 06:39] ralzakark commented on #167
Commentati nel codice

[2013-07-07 06:29] ralzakark commented on #200
Ho fatto un test con un semplice div ed il problema si presenta comunque. Sembra che il click non va nei pressi della zona di leading del testo.

[2013-07-07 06:33] ralzakark commented on #172
Implementato. Manca la diversificazione del testo a seconda del sistema operativo e la localizzazione.

[2013-07-07 06:33] ralzakark commented on #169
Implementata. Ci sono ancora dei problemi con il calcolo dell'altezza della linea.

[2013-07-07 06:35] ralzakark commented on #168
Implementato come da design ma senza una UI lua appositamente costruita.

[2013-07-07 06:37] ralzakark commented on #164
Nel box di registrazione sotto la start page l'ho implementato così:

[code]

Sono le classi rispettivamente del box esterno e di quello interno.

[2013-07-08 09:01] EmanueleSabetta opened #213 "Wizard - formattazione CSS da fixare"
Problemi da fixare per la sezione Wizard:
- Uniformare lo stile grafico e i colori a quello del resto del sito
- riquadri blu devono diventare gialli con ombra
- campi di testo devono avere inset shadow
- font dei caratteri devono avere dimensioni maggiori, almeno > 14 punti
- gli elementi (titolo, descrizione e box input testo) devono essere TUTTI centrati e incolonnati, in modo da consentire l'i

[2013-07-13 22:51] ralzakark commented on #200
Risolto: https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/blob/test/static/js/jquery.intercept_mousedown.js

[2013-07-13 22:51] #200 closed, assigned to nobody

[2013-07-13 22:56] ralzakark commented on #165
Risolto: https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/blob/test/static/js/jquery.scalebar.js

Il posizionamento delle icone va effettuato tramite svg invece che via margin.
Il calcolo della posizione a seconda della fase va integrato nel javascript di controllo.

[2013-07-14 15:10] EmanueleSabetta opened #228 "BUG DA FIXARE - Wizard - Aree di Competenza"
✓ - il primo bottone non è allineato con il testo
✓ - il bottone della prima riga deve esserci, ma dovrebbe essere desaturato, come disattivato o fissato, per far capire che non è modificabile
✓ - il testo della label "area di competenza" del primo ha la dimensione giusta dei font, mentre dovremmo portare le altre 3 label alla stessa dimensione, restringendo il controllo dropdown list orizzontalme

[2013-07-14 15:15] EmanueleSabetta commented on #165
Il plugin jquery-svg lo avete provato?
http://keith-wood.name/svg.html

[2013-07-14 23:15] ralzakark commented on #228
1) E' necessario creare le strutture dati. La pagina deve prendere dati dinamicamente dal database.
2) Il design potrebbe essere rivisto: il pulsante, testo e select sono sulla stessa riga e la cosa non si adatta bene con viewport a basse width.
3) Si potrebbe fare anche in tutt'altra maniera... presentiamo una lista di TUTTE le aree tecniche e poi l'utente può selezionarne massimo 4 (oltre la qua

[2013-07-14 23:18] ralzakark opened #229 "TASK AC012 - Wrapping di bootstrap"
Alcuni componenti di bootstrap sono stati modificati per andare incontro alle esigenze di progetto. Le modifiche andrebbero ora wrappate via redefinition nel file css di progetto custom.less.

[2013-07-14 23:39] ralzakark opened #230 "TASK AC013 - Pagina di routing per il wizard"
Andrebbe creata una pagina di routing collegata al pulsante della homepage "Scrivi una tua proposta di legge". La pagina andrebbe a sostituire le checkbox di scelta dell'unità presenti nella pagina 11 del wizard riducendo di fatto il numero di passi nella creazione di una nuova proposta.
La struttura della pagina può facilmente essere copiata da questa pagina: https://github.com/Movimento5StelleLa

[2013-07-15 09:23] EmanueleSabetta commented on #228
- le modifiche alla struttura dati stanno arrivando insieme alla pagina 13. Ci sono molte nuove cose per le commissioni.
- se si perde l'allineamento orizzontale è necessario legare graficamente i 3 componenti in un altro modo, ad esempio con un box.
- la lista esplicitata è molto lunga, almeno 1000 entry, e renderebbe difficile trovare i bottoni BACK e NEXT che sarebbero spinti in fondo ad una lu

[2013-07-15 09:34] ralzakark commented on #228
Anche una select con 1000 entry non è molto user friendly...ogni volta devo aprire la lista e scorrerla tutta nuovamente cercando di capire a che punto ero arrivato a leggere le entry.
In entrambi i casi comunque, le entry dovrebbero essere ridotte o filtrate in qualche maniera.

[2013-07-15 12:28] pierangelo commented on #230
io metterei mano al wizard nell'insieme: 11 passi + riepilogo sono veramente tanti.  delle pagine andrebbero accorpate.
Comunque vale la semplificazione che vuoi introdurre.

[2013-07-15 18:07] ralzakark opened #234 "Riduzione degli step del wizard"
Il wizard ha delle pagine che ad un primo approccio possono sembrare ripetitive. Per diminuire la complessità bisognerebbe ridurre drasticamente il numero di step necessari alla creazione di una nuova proposta di legge.

Propongo di:
1. Eliminare lo step per la descrione breve della questione
2. Eliminare lo step per la descrione breve della proposta
3. Creare una pagina di routing per la scelta d

[2013-07-18 17:19] ralzakark commented on #229
Completato

[2013-07-18 17:19] #229 closed, assigned to ralzakark

[2013-07-18 17:21] #75 closed, assigned to ralzakark

[2013-07-19 15:21] ralzakark commented on #166
L'ho implementata con due tabelle: keyword e issue_keyword (associazione).

[2013-07-20 08:09] ralzakark opened #244 "Task AC0014 - Nuovo box informazioni utente"
La view https://github.com/Movimento5StelleLazio/ParlamentoElettronicoM5S/blob/test/app/main/member/_info_data.lua della view dettagli questione va aggiornata come da immagine:
![GitHub Logo](http://i40.tinypic.com/28va87q.jpg)
La view sarà poi integrata come sub-view nella vista dettagli proposta.

[2013-07-20 08:15] ralzakark opened #245 "TASK AC015 - Nuova vista inserimento aree di compenza tecnica"
Va creata una view per l'inserimento delle aree di competenza tecnica come da immagine:
![GitHub Logo](http://i39.tinypic.com/2ms4oic.png)
La view sarà utilizzata nel "passo 1" delle view richiesta commissione tecnica della view dettagli proposta e possibilmente anche nello step10 del wizard di creazione nuova proposta.

[2013-07-20 08:23] ralzakark opened #246 "TASK AC016 - Creazione di una view footer per i social plugins"
Creazione di una view footer per i social plugins come da immagine:
![GitHub Logo](http://i40.tinypic.com/2daypt2.png)
La footer view sarà poi utilizzata nelle varie viste dettagli dove è possibile la condivisione via social plugins.

[2013-07-20 17:29] ralzakark opened #247 "Strutture Dati: Aree di Competenza Tecnica e Commissioni"
Per le strutture dati per le aree di competenza tecnica e le commissioni pensavo ad una cosa simile:
### Competenze Tecniche

[code]

`skill`: In questa tabella vengono registrate le aree di competenza prefissate.

[code]

`member_skill`: Associazione Utente <-> Aree di Competenza Tecnica, usata per la selezione randomica dei membri delle commissioni.

[code]

`requested_skill`: In questa tabella

[2013-07-20 17:30] ralzakark opened #248 "TASK AC017 - Layouting pagina dettagli proposta"

[2013-07-20 21:43] EmanueleSabetta commented on #247
In linea teorica andrebbe bene, anche se devo studiare la cosa appena ho tempo perché c'è il problema della distinzione tra commissioni permanenti (economica e legale) e commissioni temporanee (quele tecniche, che durano un mese). In teoria potremmo trattarle allo stesso modo a livello di codice, non se ne accorgerebbe nessuno, la sola differenza sarebbe che la mailing list di quelle permanenti sa

[2013-07-21 15:59] ariannaf commented on #247
Se il parlamento è il luogo di proposta e deliberazione, perchè le commissioni devono essere integrate?
Non avevamo deciso all'inizio che le commissioni erano in una mailing list esterna, proprio per non appesantire il progetto?

[2013-07-21 17:21] ralzakark commented on #247
@Movimento5StelleDevelopment si potrebbe mettere tutto nella stessa lista ma trattare le specialistiche come sub skill... mi spiego meglio:
1. Intanto mi pare poco educato presentare all'utente una form select con centinaia di entry. Ci vuole come minimo una doppia select dove l'utente prima seleziona la generica e da quella il sistema ne deriva le specialistiche associate :)
2. L'utente dovrebbe

[2013-07-21 18:15] ralzakark opened #250 "Problema font Optima"
Non è preinstallato su windows 8 http://en.wikipedia.org/wiki/List_of_Microsoft_Windows_fonts

Si potrebbe usare in fallback L'Open Sans: http://www.google.com/fonts/specimen/Open+Sans disponibile via Google Font API

[2013-07-21 18:23] EmanueleSabetta commented on #247
@ariannaf scrive:

Le commissioni nella loro totalità non sono integrate infatti. Solo la fase finale, ovvero le votazioni dei membri sul rapporto tecnico e dei vari emendamenti al rapporto tecnico, si svolgono sul parlamento elettronico in un'area apposita. In realtà la discussione tra i membri della commissione avviene fuori dal parlamento elettronico, dovunque decidano di farla ed è più comodo

[2013-07-21 18:41] EmanueleSabetta commented on #247
@ralzakark scrive:

La tua osservazione è corretta. Infatti a livello di UI di solito per cose di questo tipo si dovrebbe usare una TreeView con i nodi. Neanche il sistema del senato lo usa: http://www.senato.it/3869

Ma in compenso il problema l'hanno risolto con una cosa che si chiama "sistema TESEO":

http://www.senato.it/3235?testo_generico=745

http://goo.gl/jbCtU

In europa invece ne hanno c

[2013-07-21 19:38] EmanueleSabetta commented on #250
Optima è imbattibile ma è a pagamento:
http://www.fonts.com/font/linotype/optima/roman/web-font

Ma ce ne sono molti gratuiti che gli si avvicinano, tipo Belleza:
http://www.fontsc.com/font/belleza

o Gilda Display
http://www.fontsc.com/font/gilda-display

[2013-07-22 10:07] bhack commented on #247
Ho trovato questo link interessante anche sulla prospettiva semantica/linked data (notare anche gli aggiornamenti successivi a fine post)
http://legalinformatics.wordpress.com/2009/08/19/linked-data-and-law/

Date un'occhiata anche qui sul menu a destra "dati e ontologia"  (in più c'è attivo anche un endpoint SPARQL):

http://dati.senato.it/19?testo_generico=22

[2013-07-22 11:43] ariannaf commented on #247
Sono d'accordo su tutto, tra l'altro anche la certificazione andrebbe
estesa alla ml se interna al progetto e creerebbe falle in sicurezza
grazie!
Il giorno 21/lug/2013 20.23, "Movimento5StelleDevelopment" <
notifications@github.com> ha scritto:

[2013-07-24 18:22] ralzakark commented on #250
Per la cronaca, c'è un bug aperto da 11 mesi su Chrome/Windows: https://code.google.com/p/chromium/issues/detail?id=137692 .. niente anti-aliasing sui font :/

Ecco come si vede Belleza:

![Belleza](http://i42.tinypic.com/2lkfok9.png)

..una schifeza, sembra un sito che vende katane :)

[2013-07-26 17:34] pierangelo opened #253 "Bug: Visualizzazione della "procedura di Registrazione""
La visualizzaizone del box "Guida all'iscrizione" e' presente anche agli utenti loggati nel sistema
![schermata del 2013-07-26 19 32 18](https://f.cloud.github.com/assets/497527/864099/8a0f77fa-f619-11e2-858c-afd0b8214b93.png)

[2013-07-27 08:19] ralzakark commented on #253
Da design deve essere presente

[2013-07-27 08:19] #253 closed, assigned to nobody

[2013-07-27 09:04] pierangelo commented on #253
il design e' sbagliato :)

2013/7/27 Puccio notifications@github.com

[2013-07-27 09:32] EmanueleSabetta commented on #253
E' una opzione che ho lasciato anche dopo il login per consentire di accedere alle indicazioni su dove e come registrarsi anche dopo che ci si è registrati, in caso fossero necessarie per informare un amico dell'utente interessata ad iscriversi. Poiché le procedure possono cambiare è importante che l'utente registrato abbia sempre un modo evidente e intuitivo per leggere queste informazioni ed inv

[2013-08-05 10:03] pierangelo opened #254 "BUG: Visualizzazione Menu Utente errata."
![schermata del 2013-08-05 12 02 00](https://f.cloud.github.com/assets/497527/909187/26eae5d4-fdb6-11e2-9fa7-7bcc8f54867a.png)

[2013-08-05 15:34] EmanueleSabetta commented on #250
Trovato il font che fa al caso nostro: si chiama OREGON LDO. E' freeware ed è molto simile all'Optima. Ora lo sostituisco in tutti gli SVG. Bisogna naturalmente caricarlo insieme alla pagina.

http://www.fontspace.com/luke-owens/oregon-ldo

[2013-08-05 16:20] EmanueleSabetta commented on #250
Bisogna generare il WebFont per il font OREGON LDO a partire dal file .ttf, usando il generatore del sito Fontsquirrel.com:

http://www.fontsquirrel.com/tools/webfont-generator

Qui la guida su come usarlo:
http://www.creativebeacon.com/a-guide-to-using-font-face-in-your-websites/

Ecco il risultato, usate questo in tutte le pagine HTML:
File zip del WebFont OREGON LDO:
http://goo.gl/a281wa

[2013-08-05 20:01] pierangelo opened #255 "Design 13b UI Box Commissioni Tecniche"
pag13b

[2013-08-05 20:02] #255 closed, assigned to pierangelo

[2013-08-08 13:13] panseo opened #256 "Button and svg file"
I made an 'analysis of the structure of the images svg' s use of all buttons on the electronic parliament, this requires a refactoring of the 'whole structure, but necessary as it solves the issue buttons and their adaptability and readability on various devices:

Here 's example page made with these characteristics (do a test with different resolutions):
http://www.seopane.com/lf/design13_4.html

[2013-09-02 06:34] ralzakark opened #258 "TASK AC018 - Modulo certificatori"
## Microtask:
1. Creazione struttura dati -> 90%
2. Pannello di login certificatore -> 100%
3. Schermata iniziale con lista utenti certificati -> 90%
   Da scegliere quali campi visualizzare
4. Schermata informativa legale -> 100%
5. Pannello modifica/creazione nuovo utente -> 80%
   Per quanto riguarda l'inserimento di Città/Provincia/Municipio è necessario raccogliere la lista dei comuni e modif

[2013-09-19 07:33] ralzakark opened #262 "TASK AC019 - init.sql"
Creation of a script for inserting initial data in the database:
### Subtasks:
1. Retrieve a db containing italian cities, regions and provinces -> 100%

Done. I've downloaded the mysql dump of the ISTAT db and converted if from MySQL to Postgres.
1. Create an sql script to generate units for country, regions, provinces and cities -> 100%

Done. The script insert units taking data directly from th

[2013-09-26 12:07] ralzakark commented on #262
Obsolete

[2013-09-26 12:07] #262 closed, assigned to nobody

[2014-06-09 09:51] gogolander opened #266 "Togliere loghi"
L'interfaccia è piena di loghi del m5s da togliere.

[2014-06-09 09:58] gogolander opened #267 "Riferimenti regionali"
L'interfaccia è piena di riferimenti alla regione lazio: va bene per il lancio ma non per quando amplieremo il raggio d'azione. Pagine:
- login
- homepage
- pulsanti "Assemblea Regione Lazio" e "Assemblea Interna del Movimento 5 Stelle Regione Lazio"
- footer bar "Sei un cittadino del Lazio..."
- welcome bar nelle assemblee

Per il momento ho trovato solo queste.

[2014-06-09 09:59] gogolander opened #268 "Selezione aree"
Introdurre selezione più user-friendly delle zone da abilitare e renderla indipendente dalla sola regione lazio.

[2014-06-09 10:00] gogolander opened #269 "Barra assemblee"
Introdurre un pulsante "Indietro" per tornare alla home dopo essere entrati in una assemblea.

[2014-06-09 10:01] gogolander opened #270 "Wizard indietro"
Pulsante "Indietro" del wizard lancia un'eccezione "missing policy".

[2014-06-09 10:02] pierangelo commented on #266
ok prima issue va quasi bene, ma devi cercare di essere molto specifico: devi indicare tutte le pagine coinvolte.
ad esempio la issue andrebbe editata cosi:

loghi del m5s da togliere nelle pagine:
1.
2.
3.
....
....

[2014-06-09 10:02] gogolander opened #271 "Nome reale nelle barre"
La funzione #{realname} a volte non viene risolta nei testi.

[2014-06-09 10:06] gogolander commented on #266
_registration_info.lua: mi pare sia solo quella.

[2014-06-09 10:09] gogolander opened #272 "Testi dei messaggi"
Alcuni testi iniziano tutti con la prima lettera maiuscola, inoltre a volte non traduce il termine "welcome"
- barra welcome delle assemblee

[2014-06-09 10:24] pierangelo commented on #266
intendevo le pagine html....

quando fai una segnalazione devi cercare di evitare parole del tipo "mi pare...."

[2014-06-09 10:24] gogolander opened #273 "Struttura assemblee interne"
Sono presenti in totale quattro possibili selezioni:
- leggi le nuove proposte
- scrivi una proposta
- leggi e vota le proposte dei portavoce
- leggi e vota le proposte dei gruppi politici
  Non è intuitiva la differenza tra gli ultimi due pulsanti, inoltre l'interfaccia viene complicata. Sarebbe forse meglio avere due soli pulsanti:
- leggi le proposte
- scrivi una proposta
  e ottenere le stesse

[2014-06-09 10:29] gogolander commented on #266
asp, my man, che non ho capito bene a quale pagina html ti riferisci. non c'è una pagina html, c'è solo lo script lua che poi viene tradotto. Non ti posso dire quale sia la pagina html perché non so esiste.
comunque questo trunk viene visualizzato in index/index.html

[2014-06-09 10:46] gogolander opened #274 "Selezione aree"
Questo bug affligge entrambe le assemblee.
La selezione delle aree "tutte"/"solo le mie" a cui può accedere l'utente è affetta da bug multipli:
- le aree cui può accedere l'utente non vengono aggiornate: questo perché viene aggiornata la sola tabella privilege, invece che sia privilege ("tutte le aree") che membership ("solo le mie");
- impossibile visualizzare le aree abilitate: le interrogazioni

[2014-06-11 16:40] pierangelo opened #278 "Accesso assemblee: errore non gestito"
dopo la registrazione di un utente,  si ha una situazione di errore non gestito se esso tenta di entrare:
1. in una delle asemblee
2. nelle impostazioni del suo profilo

![liquidfeedback error](https://cloud.githubusercontent.com/assets/497527/3247685/f4c92910-f186-11e3-94b1-81cd39206238.png)

possibili soluzioni:
1. invio di una comunicazione all'utente dell'attesa di attivazione dell'account
2.

[2014-06-14 19:37] #274 closed, assigned to gogolander

[2014-06-20 23:57] mwithi commented on #272
Ciao Vincenzo, intendi dire che alcuni testi hanno la prima lettera di ogni parola maiuscola? Dove lo non viene tradotto "welcome"?

[2014-06-21 08:59] gogolander commented on #272
non tutte le parole di tutti i messaggi ma una parte considerevole sì. "welcome", come puoi immaginare, non me lo traduce con sistematicità nella homepage.

[2014-06-21 09:38] mwithi commented on #272
Intendevo dire se ti riferisci a casi come questo "Administrator, Ti Trovi Nell'Assemblea Della Regione Lazio" o ad altro.

Per il "welcome" lo vedo tradotto sempre, per caso hai degli steps per riprodurre l'errore?

[2014-06-21 09:40] gogolander commented on #272
Sì mi riferisco proprio a quei casi che segnali. No, non riesco a riprodurlo: ed è un po' frustrante. Forse è solo un colpo di testa del mio pc, non so. Fatto sta che sul mio pc non lo traduce ma sul server di test sì.

[2014-06-21 09:55] mwithi commented on #272
Allora nel primo caso io il testo lo vedo così proprio nel file delle traduzioni... non ho capito ancora però perché modificarlo non sortisce alcun effetto.

La chiave welcome dovrebbe essere ugualmente tradotta in locale/translation.it, tra l'altro vedo solo tre chiavi:
["Homepage welcome text"]="TI TROVI NELL'ASSEMBLEA [...]
["Homepage welcome text2"]="QUI SI DISCUTONO LEGGI E [...]
["Homepage w

[2014-06-21 09:58] gogolander commented on #272
hai deployato le modifiche dopo averle fatte?
effettivamente è molto diverso, infatti non penso di toccare niente: sarà un problema locale di qualche tipo che non riesco a trovare.

[2014-06-21 10:13] mwithi commented on #272
[mode_english]

How to deploy the changes to locale/translation.it? I've modified the file directly in /opt/ParlamentoElettronicoM5S and restarted lighttpd, not enough?

[2014-06-21 10:14] panseo commented on #272
Hi, about this topic, I am finishing the new interface with new texts for buttons, this weekend I will do a git pull on with these changes

[2014-06-21 10:15] mwithi commented on #272
panseo, do you mean new interface with new translation file?

[2014-06-21 10:16] gogolander commented on #272
no: to deploy and actually apply your edit run the script extras/install.sh: available options are "auto" to recompile parelon as a whole or "-f" to simply copy your mods in the running dir.

[2014-06-21 10:20] panseo commented on #272
in my local Virtual machine, you can see a example in attachment
![homepage-bs](https://cloud.githubusercontent.com/assets/4426646/3348450/a2280e66-f92d-11e3-84c4-16c292e49296.jpg)

[2014-06-21 10:25] gogolander commented on #272
in a (not so) future release I think is for the best to merge "proposte" "tuo gruppo" and "altri gruppi" buttons, making them just filtering the all proposals. for now let's just stay with them.

[2014-06-21 10:27] mwithi commented on #272
@gogolander tried -a and -f, changes actually copied in the dest folder, but not changes in the browser, even by clearing the browser cache... any suggestion?

@panseo @gogolander I think discussion about the layout can start a different issue, or a thread in facebook, what do you think?

[2014-06-21 10:29] gogolander commented on #272
I think it is just too soon to get into that discussion.
try not with "-a" but with "auto", "-" before it.

[2014-06-21 10:36] mwithi commented on #272
Tried "auto", cleared browser cache, restarted lighttpd, no changes... mumble mumble...

[2014-06-21 10:37] gogolander commented on #272
open an issue and attach logs and splashscreen, plz...

[2014-06-21 10:40] mwithi commented on #272
no, sorry, my mistake, there where several translations of that... solved by changing the right one :+1:

So the issue is due to the translation file, there's no text processing between translations files and the view.

@panseo is there anybody in charge for translations?

[2014-06-21 10:52] mwithi commented on #271
Here would be nice to have steps to reproduce the issue

[2014-06-21 11:00] mwithi commented on #272
Created a pull request for this issue, I've not found other cases but I'm not sure. In case more translations changes are needed, I suggest to open another issue as "missing" or "translations", not "bug"

[2014-06-21 11:13] gogolander commented on #272
Please leave this kind of bugs to @panseo. You would be useful contributing to issues as #230.

[2014-06-21 11:14] mwithi commented on #272
ok, but I was just starting with something very simple to understand the flow...

for instance: I was in the "wrong branch", should I fork "test" branch and pull over there?

[2014-06-21 11:34] gogolander commented on #272
you can't fork a branch: you fork a repository, that has all the branches within it. you have to switch to a branch, with the command "git checkout branchname".
Yes, you have to pull from yourRepo:test -> upstream:test

[2014-06-21 11:41] gogolander opened #280 "Scary error page with scarrier messages"
The error page does not contain an italian translation of the error message and the "report the bug" button provide a bug warning to Liquid Feedback project instead of us.

[2014-06-21 12:15] mwithi commented on #272
Ok, I tried again, check please if I did it right this time. Thanks

[2014-06-21 17:24] #272 closed, assigned to nobody

[2014-06-21 17:26] #267 closed, assigned to nobody

[2014-06-21 17:26] #266 closed, assigned to pierangelo

[2014-06-21 17:26] #256 closed, assigned to nobody

[2014-06-21 17:27] #250 closed, assigned to nobody

[2014-06-21 17:28] #254 closed, assigned to nobody

[2014-06-21 17:29] #213 closed, assigned to panseo

[2014-06-21 17:30] #164 closed, assigned to panseo

[2014-06-27 21:37] gogolander commented on #271
this bug is due to public real name not set.

[2014-06-28 09:19] gogolander commented on #280
the new page must contain the italian version of the message, the english version of the message and report the bug sending a mail to bug@parelon.com, as discussed yesterday: I will do the triage.
Before starting to write the messages, plz check if there already exist the translation.

[2014-06-28 11:36] mwithi commented on #280
We have several ways to do it:
1. classic href="mailto:bug@parelon.com"
2. precompiled mailto (we may include the stacktrace)
3. redirect to a form to guide the user in compiling the report

The system_error page involved in the issue is not related to translations files, is a static html. Should we convert into a Lua page?

Is there a server class in charge for sending mails?

The German translat

[2014-06-28 17:17] #278 closed, assigned to gogolander

[2014-06-28 19:39] gogolander opened #294 "Membership foreign key violation"
Foreign key violeted when changing enabled territorial units.
![screenshot - 28062014 - 21 38 14](https://cloud.githubusercontent.com/assets/4871992/3421705/d5662a78-fefb-11e3-94fa-58ddc70ec44b.png)
![screenshot - 28062014 - 21 38 29](https://cloud.githubusercontent.com/assets/4871992/3421706/d56c711c-fefb-11e3-84ad-f3cbf18b9ee4.png)

[2014-06-28 22:49] gogolander commented on #269
@panseo questa la dobbiamo fare assieme per forza...

[2014-06-28 22:51] gogolander commented on #122
@panseo questa è ancora un'issue aperta o si può considerare risolta?

[2014-06-28 22:53] gogolander commented on #84
@panseo è stata più risolta questa?

[2014-06-28 22:54] #70 closed, assigned to pierangelo

[2014-06-29 10:27] gogolander opened #295 "Policy missing on the database"
Policies are not loaded on the database.

[2014-06-29 10:28] gogolander opened #296 "Area-unit logic link missing"
Territorial units are logically linked to tematic areas: this relation is missing.

[2014-06-29 10:29] gogolander opened #297 "Gui selection"
GUI preset selection have to been removed: only Par.el.on. official presest will be available.

[2014-06-29 10:30] gogolander opened #298 "Wrong redirections"
wizard/new and issue/show_ext_bs execute wrong views.

[2014-06-29 10:32] gogolander opened #299 "Time left italian translation wrong"
Time left translation wrong on a page. @panseo on which page was it wherein?

[2014-06-29 10:33] gogolander opened #300 "Wizard box 11"
The box11 of the wizard is overkill: has to be removed.

[2014-06-29 10:35] gogolander opened #301 "Wizard/new"
Page wizard/new won't work.

[2014-06-29 10:37] gogolander opened #302 "Wizard thematic areas link missed"
Thematic area is the one that has to be displayed on wizard/box 10

[2014-06-29 10:38] gogolander opened #303 "Wizard resumé looses all the infos"
Final resumé won't show any of the user given descriptions of the proposal.

[2014-06-29 10:40] gogolander opened #304 ""Elected guy" shortcut"
An elected dude/lady needs the possibility of avoiding the wizard.

[2014-06-29 10:43] gogolander commented on #295
Solved.

[2014-06-29 10:43] #295 closed, assigned to gogolander

[2014-06-29 10:52] gogolander commented on #296
Link present: issue is gui related.

[2014-06-30 10:09] #294 closed, assigned to nobody

[2014-06-30 10:10] #296 closed, assigned to gogolander

[2014-06-30 10:14] ilbarillo2014 opened #307 "Proposal limit set to 1"
Hello, could you please enable users to create law proposals ?
Actual message when introducing a new law is "sorry, you reached the personal limit for new initiatives. Try later".
From trace, you can see that the current limit is 1.
thx

[2014-06-30 10:39] gogolander commented on #307
"LIMIT 1" is a SQL clause for SELECT command saying to retrieve just one row in the table. So I don't think it is related with your bug. Can you post the trace splashscreen? So I can locale which query and which page is causing this issue. You can open it clicking on "TRACE" lower on the right.

ty

[2014-06-30 10:55] #280 closed, assigned to mwithi

[2014-06-30 12:15] ilbarillo2014 commented on #307
[code]

INTERNAL FORWARD TO VIEW: initiative/new
REQUESTED VIEW: initiative/new
/main/_filter/20_session.lua

[code]

[2014-06-30 12:45] gogolander commented on #307
try now: it is supposed to be fixed.

[2014-06-30 18:49] panseo commented on #122
E' risolta

[2014-06-30 18:49] #122 closed, assigned to panseo

[2014-06-30 19:58] #307 closed, assigned to nobody

[2014-07-01 19:50] #270 closed, assigned to gogolander

[2014-07-01 19:50] #301 closed, assigned to gogolander

[2014-07-01 19:50] #302 closed, assigned to gogolander

[2014-07-01 19:50] #303 closed, assigned to gogolander

[2014-07-01 20:20] panseo commented on #269
yes @gogolander

[2014-07-01 20:25] gogolander commented on #269
wonderful. plz sync: wizard fixed :)

[2014-07-02 11:21] #271 closed, assigned to gogolander

[2014-07-05 12:10] #298 closed, assigned to gogolander

[2014-07-05 12:10] #300 closed, assigned to gogolander

[2014-07-05 12:10] #304 closed, assigned to gogolander

[2014-07-08 09:00] ilbarillo2014 opened #318 "proposta senza titolo"
inserendo una proposta (eletto, VII commissione, "Crea nuova questione"), nei dettagli della proposta non appare il titolo.
esempio
Q12 - No title for this issue!

[2014-07-08 10:12] ilbarillo2014 opened #319 "passaggio a fase discussione"
attualmente nell'area VII commissione ci sono
Questioni: 12 nuove · 0 in discussione · 0 congelate · 0 in votazione · 0 concluse · 0 cancellate

non e' stato effettuato il passaggio alla fase successiva, nonostante siano scaduti sia i tempi di discussione e votazione.
l'ipotesi e' che non ci siano stati sufficienti supporters a superare il quorum ed entrare in fase di discussione...ma in questo ca

[2014-07-08 10:15] ilbarillo2014 opened #320 "proposta non ritirata"
i11: ODG ATTIVAZIONE URGENTE DELLO SCREENING NEONATALE SU TUTTO IL TERRITORIO REGIONALE

e' stata ritirata ma risulta ancora disponibile, e non rientra fra quelle ritirate, e' ancora in stato discussione

Questioni: 12 nuove · 0 in discussione · 0 congelate · 0 in votazione · 0 concluse · 0 cancellate

[2014-07-08 10:19] ilbarillo2014 opened #321 "Implementazione verifica posizione"
Finche' non e' implementata la segnalazione del dato sospetto "Non ti sei connesso da questa posizione?", si potrebbe almeno all'accesso segnalare il luogo e l'orario dell'ultima connessione, disabilitando temporaneamente il bottone per la segnalazione del dato incorretto.

grazie

[2014-07-08 11:56] gogolander commented on #321
i pulsanti vanno disattivati entrambi al momento, introducendoli dopo la riscrittura.

[2014-07-08 11:56] gogolander commented on #320
per qualche motivo, lua continua a mostrarla anche se è stata ritirata...

[2014-07-08 12:00] gogolander commented on #318
questo credo sia dovuto in qualche modo alla vecchia interfaccia di liquid

[2014-07-08 13:13] gogolander commented on #319
controllare le query al database: le informazioni sono salvate ma non processate.

[2014-07-08 13:26] ilbarillo2014 opened #322 "modifica testo"
https://test.parelon.com/lf/issue/show_ext_bs/13.html?view=area&orderby=creation_date&interest=any&scope=all_units&ftl_btns=false&state=admission&desc=false

<Data limite per raggiungere il quorum di sostenitori: -00:04:36 rimanenti>

da sostituire con:
"tempo trascorso per raggiungere il quorum di sostenitori" e poi toglierei il valore negativo

<Soluzioni proposte:
Vi sono attualmente 1 proposte

[2014-07-08 13:28] ilbarillo2014 opened #323 "mancato aggiornamento stato della proposta superato il numero minimo di sostenitori"
la proposta inserita rimane in stato "ammissione" e nonostante gli utenti sostengano la proposta (quindi superato il quorum di ammissione alla discussione), la proposta rimane in attesa sostenitori...

0 Sostenitori
(0 Potenziali sostenitori)

[2014-07-08 20:46] gogolander commented on #319
trigger, view e stored procedures mancanti nel database

[2014-07-09 08:12] ilbarillo2014 opened #324 "link conferma registrazione non funzionante"
prima segnalazione da un utente:
La registrazione funziona anche da cellulare, voto positivo!
I link per la richiesta di conferma dell'email non funzionano, da migliorare!

---

Ciao Edoardo D'Atri,
Confermare l'indirizzo eMail cliccando sul link seguente:
/lf/index/confirm_notify_email.html?secret=bZT399ZVzQQvy6eBxrEcijMR
Se questo link non dovesse funzionare, aprire il seguente indirizzo nel bro

[2014-07-09 08:24] ilbarillo2014 opened #325 "modifica pannello inserimento utenti certificatore"
1) oltre al numero di carta d'identita' serve la data di scadenza ?
2) e' possibile inserire altri documenti validi alternativi alla carta d'identita', come la patente ?
3) se il domicilio e' uguale alla residenza, come nella maggior parte dei casi, si possono per default copiare automaticamente su domicilio i dati gia' inseriti per la residenza ? questo velocizzerebbe il lavoro del certificatore,

[2014-07-09 10:23] ilbarillo2014 opened #326 "mancata attivazione aree utente"
quando un utente entra per la prima volta, non vede nulla....e quindi non puo' fare nulla.

non vengono abilitate le aree tematiche alle quali un cittadino puo' interessarsi.
l'amministratore entra sull'utente lf, e abilita "regione lazio" e poi "commissione I", "commissione II", ecc.
in questo modo l'utente vede tutte le aree, puo' leggere le proposte...e iscriversi all'area di interesse.

non e'

[2014-07-09 10:28] ilbarillo2014 opened #327 "invia email con codice attivazione"
capita molto spesso che gli utenti non ricevono l'invito a partecipare, e sembra che la mail non esista nemmeno sotto spam.

in questo caso il certificatore deve utilizzare la funzione "invia email con codice attivazione".
questa funzione non e' attiva.

si richiede l'attivazione in modo da bypassare l'errore di mancato invio mail
grazie

[2014-07-09 10:36] ilbarillo2014 commented on #323
nessuna proposta registra ancora un numero di sostenitori diverso da zero...nonostante gli utenti stiano sostenendo la proposta (vedi p15)

[2014-07-12 18:27] gogolander commented on #319
servizi di aggiornamento non attivi: liquid_feedback_core verrà reinstallato per evitare ulteriori problemi.

[2014-07-14 16:10] gogolander commented on #319
solved.

[2014-07-14 16:10] #319 closed, assigned to gogolander

[2014-07-14 16:11] gogolander commented on #323
Conseguenza del bug #319

[2014-07-14 16:11] #323 closed, assigned to nobody

[2014-07-14 16:13] gogolander commented on #320
Conseguenza del bug #319

[2014-07-14 16:13] #320 closed, assigned to nobody

[2014-07-14 16:18] gogolander commented on #322
Probabilmente collegato al #319

[2014-07-14 16:20] gogolander opened #329 "Proposte duplicate"
Il wizard posta due volte le stesse proposte.

[2014-07-14 16:22] gogolander opened #330 "Layout wizard sbagliato"
Scrivi->Crea nuova proposta->redirect->Wizard mostra la vecchia interfaccia liquid sotto il wizard.

[2014-07-14 16:25] gogolander commented on #325
1) non so: si può sempre indicarla dopo il numero del documento. però non credo: una volta certificata l'identità noi facciamo affidamento solo sul serial del token per continuare la certificazione.
2) sì, basta indicare gli estremi
3) possibile ma non in lua :)

[2014-07-14 16:25] #325 closed, assigned to nobody

[2014-07-14 16:28] #322 closed, assigned to nobody

[2014-07-15 12:58] ilbarillo2014 opened #332 "barra verticale quorum con dati incorretti sostenitori"
in fondo al pannello "Dettagli questione Q15" https://test.parelon.com/lf/issue/show_ext_bs/15.html?state=any&orderby=event&interest=any&scope=all_units&ftl_btns=false&view=homepage&desc=false

risulta che 2 sostenitori hanno correttamente fatto superare il quorum e la barra mostra il 100% in verde
la linea verticale blu pero' riporta un dato erroneo (0 sostenitori)

[2014-07-15 13:32] ilbarillo2014 opened #333 "mancanza dati certificazione"
inserendo un utente e compilando tutti i campi, l'utente viene correttamente inserito in lf (admin-utenti)
ma SENZA il campo "identificazione" (inserisco io a mano il serial del token) e il campo "email di notifica" (inserisco io indirizzo mail).

inolte l'utente e' inserito senza nessuna area attiva...devo mette il flag su regione lazio, e sulle singole commissioni

[2014-07-15 21:01] #324 closed, assigned to kintarooe79

[2014-07-15 21:01] #329 closed, assigned to kintarooe79

[2014-07-17 23:47] gogolander commented on #333
per quanto riguarda la mail di notifica, la gestisce lui: tranquillo, non devi modificare nietne a mano.
il campo di "identificazione" è stato riparato.
Sul problema dell'ereditarietà delle aree attivate, non posso ancora dire che il problema sia risolto.

[2014-07-17 23:48] gogolander commented on #327
invio email riparato.

[2014-07-17 23:48] #327 closed, assigned to kintarooe79

[2014-07-18 23:53] #330 closed, assigned to gogolander

[2014-07-18 23:54] gogolander commented on #318
E' dovuto al fatto che i campi del wizard e quelli del liquid sono diversi.

[2014-07-19 00:17] gogolander commented on #333
il primo punto è stato completamente risolto.

[2014-07-21 07:39] ilbarillo2014 opened #336 "Mancato accesso a wizard creazione guidata proposte x cittadini"
Per gli eletti l'accesso all'interfaccia originale LF per l'inserimento di proposte, e' ok (1 sola schermata per inserire direttamente il testo di legge gia' pronto)
Per i cittadini invece e' necessario che sia attiva la procedura guidata per l'inserimento: attualmente cliccando su "Crea nuova questione", per l'area selezionata, si arriva ancora alla vecchia schermata LF.

[2014-07-21 07:42] ilbarillo2014 opened #337 "Completamento pagina "informazioni" e "Condizioni d'uso""
attualmente le pagine sono vuote, anche se il loro accesso e' sempre disponibile in basso e presente in ogni pagina alla quale gli utenti accedono.

e' importante inserire in informazioni i link al sito parelon, cosi' come i link ai riferimenti in caso di richiesta di assistenza o problemi.
su condizioni d'uso si puo' semplicemente riportare il testo dei due moduli (privacy e registrazione a parel

[2014-07-21 07:44] ilbarillo2014 opened #338 "LF 3.0"
Prima del rilascio della prima release della piattaforma, verifichiamo se siamo all'ultimo livello del core lf.
sembra che sia uscita da poco l'ultima versione: valutiamo i bug corretti e le nuove funzioni, in modo da essere allineati.

[2014-07-21 11:43] gogolander commented on #336
solo perché sei eletto...

[2014-07-21 11:43] #336 closed, assigned to nobody

[2014-07-21 13:32] panseo commented on #337
Il nuovo sito, è quasi pronto, quindi mi prendo questa issue è quando il sito è pronto ci metto il link alle pagine in questione

[2014-07-21 15:50] gogolander commented on #333
il secondo è invalido.

[2014-07-21 15:50] #333 closed, assigned to kintarooe79

[2014-07-21 16:20] gogolander commented on #332
problema di arrotondamenti

[2014-07-21 16:44] gogolander commented on #326
impossibile riprodurre l'errore: attualmente lavora bene.

[2014-07-21 16:44] #326 closed, assigned to kintarooe79

[2014-07-21 17:30] gogolander commented on #338
l'unico aggiornamento importante apportato è la nuova interfaccia grafica: dal lato "cambiamenti significativi" nulla da segnalare.

[2014-07-21 17:30] #338 closed, assigned to nobody

[2014-07-21 17:32] #332 closed, assigned to kintarooe79

[2014-07-24 13:50] #269 closed, assigned to gogolander

[2014-07-24 13:50] #273 closed, assigned to gogolander

[2014-07-24 13:59] #321 closed, assigned to gogolander

[2014-07-25 08:54] panseo commented on #299
You can tell me on which page?

[2014-07-28 23:09] gogolander commented on #318
In futuro non si ripresenterà.

[2014-07-28 23:09] #318 closed, assigned to kintarooe79

[2014-07-28 23:10] #297 closed, assigned to gogolander

[2014-07-28 23:11] gogolander commented on #299
don't remember: sorry...

[2014-07-28 23:11] #299 closed, assigned to nobody

[2014-07-28 23:18] gogolander commented on #228
Cambiato layout e sostituito con tag

[2014-07-28 23:18] #228 closed, assigned to panseo

[2014-07-28 23:19] #188 closed, assigned to nobody

[2014-07-28 23:22] #166 closed, assigned to nobody

[2014-08-04 09:42] gogolander opened #357 "Design 13"
La realizzazione del design 13 è assegnata a @kintarooe79 con la collaborazione di @gogolander

[2014-08-04 09:43] gogolander opened #358 "Design 13b"
La realizzazione del design 13b è assegnata a @gogolander.

[2014-08-10 11:25] #186 closed, assigned to nobody

[2014-08-10 11:25] #248 closed, assigned to nobody

[2014-08-10 11:26] #245 closed, assigned to nobody

[2014-08-10 12:13] gogolander opened #369 "popover"
creazione di un nuovo widget che realizzi il componente popover di bootstrap
http://bootstrapdocs.com/v2.3.2/docs/javascript.html#popovers

[2014-08-10 12:13] gogolander opened #370 "sfondi"
distinguere visivamente la pagina inititative/show dalla pagine issue/show

[2014-08-10 12:14] gogolander opened #371 "social"
attivare pulsanti social media: facebook, twitter, pinint, linkedin, g+

[2014-08-10 12:15] gogolander opened #372 "nuova bozza"
modifica bozza tramite wizard

[2014-08-10 12:15] gogolander opened #373 "falsa identità"
segnalazione falsa identità mandando una mail agli admin con gli estremi dell'account dell'utente e del certificatore da controllare

[2014-08-10 13:48] #369 closed, assigned to gogolander

[2014-08-11 14:02] #372 closed, assigned to gogolander

[2014-08-11 14:04] #84 closed, assigned to panseo

[2014-08-11 14:05] #165 closed, assigned to nobody

[2014-08-13 18:47] #373 closed, assigned to gogolander

[2014-08-14 13:24] #167 closed, assigned to nobody

[2014-08-14 13:25] #371 closed, assigned to panseo

[2014-08-14 13:40] #370 closed, assigned to panseo

[2014-08-14 20:25] #357 closed, assigned to kintarooe79

[2014-08-25 10:17] ilbarillo2014 opened #406 "mancata immissione proposte con procedura veloce"
https://test.parelon.com/lf/initiative/new.html?area_id=21
in area interna, procedura CREAZIONE VELOCE NUOVA PROPOSTA

manca il bottone per confermare l'inserimento

[2014-08-27 11:13] #406 closed, assigned to nobody

[2014-08-27 13:26] ilbarillo2014 opened #414 "Design: pagina inserimento proposte veloce"
cambierei la parola "QUESTIONE" (in "PROBLEMA" ?) per rendere piu' chiaro l'inserimento

piu' importante invece e' lo spazio per inserire il testo della proposta...infatti la finestra prevede attualmente solo 3 righe, scorrevoli, ma e' assolutamente scomodo (se non facendo un copia incolla di tutto il testo),
ma comunque e' illeggibile

serve uno spazio di almeno 10-15 righe

grazie

[2014-09-10 15:04] ilbarillo2014 opened #430 "cerca"
ma...una semplice funzione di "cerca" fra questioni e proposte ?

[2014-09-19 12:30] ilbarillo2014 opened #433 "revisione messaggio twitter"
il bottone di integrazione con twitter

attualmente questo e' un esempio di come costruisce la stringa di testo:
"Questione #81 - Parlamento Elettronico Online - LiquidFeedback https://test.parelon.com/lf/issue/show_ext_bs/81.html#.VBwhoiKHCdM.twitter"
sarebbe molto piu' chiaro se ci fosse per lo meno il titolo della questione....ad esempio
"Parelon - Bozza di Legge quadro  a sostegno del pluralis

[2014-09-19 12:30] mwithi commented on #433
Sarò senza connessione dal 18 al 23 settembre. 

Risponderò non appena possibile, grazie!

[2014-10-06 13:14] ilbarillo2014 opened #441 "modifica bozza"
selezionando "modifica bozza" per una proposta gia' inserita, appare solo lo step 1, dove e' possibile modificare il testo. Cliccando poi su avanti, si procede direttamente all'ultimo step, dove si puo' solo salvare e pubblicare.
Ho necessita' di modificare tutti i passaggi, compreso il link al video youtube.
grazie

[2014-11-03 14:59] panseo opened #443 "Problemi al primo accesso utente"
Ti segnalo un bug già noto, sulla attivazione dell' utente, che ora viene fatta a mano da un admin
![buglogin](https://cloud.githubusercontent.com/assets/4426646/4884269/0c72bcde-636a-11e4-815b-508c9d2a13c5.jpg)

[2014-11-16 14:10] #430 closed, assigned to nobody

[2014-11-16 14:10] #443 closed, assigned to gogolander

[2015-09-30 20:47] #15 closed, assigned to nobody

[2015-09-30 20:51] #16 closed, assigned to nobody

[2016-08-10 18:03] panseo commented on #441
Fixato

[2016-08-10 18:03] #441 closed, assigned to nobody

[2016-08-10 18:08] panseo commented on #246
fixato

[2016-08-10 18:08] #246 closed, assigned to nobody